<div id="content">

    <div class="row">
        <h3 class="center">Change Password</h3>
    </div>

    <section widget-grid id="widget-grid">
        <div class="row">
            <article>
                <div class="col-sm-6 col-sm-offset-3">

                    <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Change Password </h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body" change-password-form>
                                <form ng-submit="changePassword(PasswordData)" class="smart-form client-form">
                                    <fieldset>
                                        <legend>
                                            Set a new password to your account
                                        </legend>

                                        <fieldset>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <section class="form-group">
                                                        <label class="control-label">Current Password</label>
                                                        <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" class="form-control" name="currentpassword" data-ng-model="PasswordData.Password" />
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <section class="form-group">
                                                        <label class="control-label">New Password</label>
                                                        <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" class="form-control" name="newpassword" data-ng-model="PasswordData.NewPassword" />
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <section class="form-group">
                                                        <label class="control-label">Confirm Password</label>
                                                        <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" class="form-control" name="confirmpassword" data-ng-model="PasswordData.ConfirmPassword" />
                                                    </section>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                    <footer>
                                        <button type="submit" class="btn btn-primary btn-lg">
                                            Save Changes
                                        </button>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="col-sm-6">

            </div>
        </div>
    </section>
</div>