<div id="content">

    <div class="row">
        <h3 class="center">My Profile</h3>
    </div>

    <section widget-grid id="widget-grid">
        <div class="row">
            <article>
                <div class="col-sm-6 col-sm-offset-3">

                    <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Profile Settings </h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body" profile-edit-form>
                                <form ng-submit="editProfile(User)" class="smart-form client-form" name="editForm">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3>Edit your profile</h3><hr />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                        </div>
                                        <div class="col-lg-4 center">
                                            <img ng-if="Picture != ''" ngf-src="Picture" src="{{photoURI}}/Files/Users/{{Picture}}" class="img-border" style="width:100%; height:100%">
                                            <img ng-if="Picture == null" src="styles/img/avatars/male.png" class="img-border" style="width:100%; height:100%">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-4">
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="fileUpload btn btn-danger">
                                                <span>Choose Image</span>
                                                <input type="file" class="upload" ngf-select="selectedFile($files)" ng-model="Picture" name="HttpPicture" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="pull-right">Full Name&nbsp;&nbsp;<i class="fa fa-user"></i></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="pull-left">{{User.Firstname}} {{User.Lastname}}</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="pull-right">Email&nbsp;&nbsp;<i class="fa fa-envelope"></i></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="pull-left">{{User.Email}}</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="pull-right">Phone No.&nbsp;&nbsp;<i class="fa fa-phone"></i></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="pull-left">{{User.Phone}}</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="pull-right">Date of Birth&nbsp;&nbsp;<i class="fa fa-calendar"></i></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="pull-left">{{User.DOB}}</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="pull-right">Gender&nbsp;&nbsp;<i class="fa fa-gear"></i></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="pull-left">{{User.Gender}}</label>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-primary" type="submit">
                                                    Save Changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="col-sm-6">

            </div>
        </div>
    </section>
</div>