<div id="content">

    <div class="row">
        <big-breadcrumbs items="['My Account', 'Edit Your Profile']" icon="file-o"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
      <!--  <div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>

    <section widget-grid id="widget-grid">
        <div class="row">
            <article>
                <div class="col-sm-6 col-sm-offset-3">

                    <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Profile Settings </h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body" profile-edit-form>
                                <form ng-submit="editProfile(User)" class="form-horizontal" name="editForm">

                                    <fieldset>
                                        <legend>
                                            Edit your profile
                                        </legend>
                                        <fieldset>
                                            <!--<div class="form-group">-->
                                            <div class="row">
                                                <div class="col-lg-4">
                                                </div>
                                                <div class="col-lg-4 center">
                                                    <!--<img ng-if="User.Picture == 'NA'" ngf-src="User.Picture1" src="styles/img/avatars/male.png" class="img-border" style="width:100%; height:100%" />
                                                    <img ng-if="User.Picture != 'NA'" ngf-src="User.Picture1" src="{{photoURI}}/Files/Users/{{User.Picture}}" class="img-border" style="width:100%; height:100%" />-->
                                                    <img ngf-src="Picture" src="{{photoURI}}/Files/Users/{{Picture}}" cla class="img-border" style="width:100%; height:100%">
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-lg-4">
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="fileUpload btn btn-danger">
                                                        <span>Choose Image</span>
                                                        <input type="file" class="upload" ngf-select="selectedFile($files)" ng-model="Picture" name="HttpPicture" accept="image/*">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--</div>-->
                                        </fieldset>
                                        <hr />

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Full name <sup>*</sup></label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="firstname" placeholder="First name" ng-model="User.Firstname" />
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="lastname" placeholder="Last name" ng-model="User.Lastname" />
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Email ID <sup>*</sup></label>
                                            <div class="col-lg-4">
                                                <input type="email" class="form-control" name="email" placeholder="Email ID" ng-model="User.Email" />
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Phone No</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="phone" placeholder="Phone No" ng-model="User.Phone" />
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Date of Birth</label>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" name="dob" ng-model="User.DOB" placeholder="DD-MMM-YYYY" dateconvert="dd-MMM-yyyy" datepicker />
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Gender</label>
                                            <div class="col-md-4 selectContainer">
                                                <select name="gender" class="form-control" ng-model="User.Gender">
                                                    <option value="">Choose</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <hr />
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-primary" type="submit">
                                                    Save Changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="col-sm-6">

            </div>
        </div>
    </section>
</div>