<div id="main1" role="main" class="animated fadeInDown">
    <div id="content1" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 hidden-xs">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="well no-padding login-box" forgot-link-form>
                    <br /><br />
                    <img src="styles/img/smlogo.png" alt="SmartAdmin" class="center-canvas" width="70%" /><br /><br />
                    <form ng-submit="sendForgotPasswordLink(Email)" class="smart-form client-form">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="form-group">
                                        <label class="control-label">E-mail</label>
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="email" class="form-control" name="email" data-ng-model="Email" />
                                    </section>
                                </div>
                            </div>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                Send Password Reset Link
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>