<div id="content">
    <div class="row">
        <a class="btn btn-default hidden-mobile pull-right" data-ui-sref="app.order.order"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Back</a>
    </div>
    WILL BE A READONLY OF EDIT ORDERS.
    <!-- widget grid -->
    <!--<section widget-grid id="widget-grid">
        <div class="row">
            <article>
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Details</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding1">

                            

                        </div>
                    </div>
                </div>
            </article>
            
        </div>
    </section>-->
</div>