<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article>
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Orders </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="dt-toolbar">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-lg-3">
                                        <div id="DataTables_Table_1_filter" class="dataTables_filter">
                                            <label class="control-label">Search anything</label>
                                            <label>
                                                <span class="input-group-addon input-sm">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                                <input class="form-control input-sm" placeholder="Search anything" aria-controls="DataTables_Table_1" type="search" ng-model="Search.globalSearch" ng-change="getOrders()">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-3">
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-3">
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-lg-1 hidden-xs">
                                    </div>
                                    <div class="col-sm-6 col-xs-12 col-lg-2">
                                        <div class="pull-right">
                                            <label class="control-label">Pagesize</label>
                                            <label>
                                                <select class="form-control input-sm" ng-model="pageSize" ng-options="size.PageSize as size.PageSize for size in PageSizes"></select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="display projects-table table table-striped table-bordered table-hover" bind-filters="true" width="100%">
                                <thead>
                                    <!--<tr>
                                        <th>
                                            <a href="" ng-click="order('OrderNo')">PO #</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'OrderNo'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Name')">Name</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Name'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Company')">Company</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Company'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Contact')">Contact</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Contact'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Phone')">Phone</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Phone'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Site')">Site Location</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Site'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('StartDate')">Start Date</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'StartDate'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('EndDate')">End Date</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'EndDate'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th width="8%">
                                            <a href="" ng-click="order('IsActive')">IsActive</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'IsActive'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th width="14%">Actions</th>
                                    </tr>-->

                                    <tr>
                                        <th>
                                            <a href="" ng-click="order('OrderNo')">PO #</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'OrderNo'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Name')">Name</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Name'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Msg')">Customer Msg</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Msg'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Phone')">Phone</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Phone'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Site')">Location</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Site'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Placed')">Placed By</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Placed'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('StartDate')">Start</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'StartDate'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('EndDate')">End Date</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'EndDate'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Ready')">Ready</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Ready'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Completed')">Completed</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Completed'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('Posted')">Posted</a>
                                            <span class="sortorder pull-right" ng-show="predicate === 'Posted'" ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th width="14%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr dir-paginate="emp in Orders | date:'yyyy-MM-dd' | itemsPerPage: pageSize | orderBy:predicate:reverse" total-items="totalOrders" current-page="pagination.current" ng-dblclick="goToDetails(emp.OrderID)">
                                        <td>{{emp.PONumber}}</td>
                                        <td>{{emp.CustomerName}}  </td>
                                        <td>{{emp.CompanyName}}</td>
                                        <td>{{emp.ContactName}}</td>
                                        <td>{{emp.Phone}}</td>
                                        <td>{{emp.PrContactName}}</td>
                                        <td>{{emp.WorkStartRsv| date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                                        <td>{{emp.WorkEnd| date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                                        <td>
                                            <span class="onoffswitch">
                                                <input type="checkbox" name="enable{{emp.OrderID}}" ng-model="emp.IsEnable" class="onoffswitch-checkbox" id="enable{{emp.OrderID}}" ng-change="editOrderIsEnable(emp.OrderID, !emp.IsEnable)">
                                                <label class="onoffswitch-label" for="enable{{emp.OrderID}}">
                                                    <span class="onoffswitch-inner" data-swchon-text="Yes" data-swchoff-text="No"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </td>
                                        <td>
                                            <a class="btn-cust" title="Timeslips" ui-sref="app.order.order.timeslip({id: emp.OrderID})">   <i class="fa fa-edit"></i> Timeslips</a>&nbsp;
                                            <a class="btn-cust" title="View Details of Order" ui-sref="app.order.order.detail({id: emp.OrderID})">   <i class="fa fa-search"></i> View</a>&nbsp;
                                        </td>
                                    </tr>-->

                                    <tr dir-paginate="emp in Orders | date:'yyyy-MM-dd' | itemsPerPage: pageSize | orderBy:predicate:reverse" total-items="totalOrders" current-page="pagination.current" ng-dblclick="goToDetails(emp.OrderID)">
                                        <td>{{emp.PONumber}}</td>
                                        <td>{{emp.CustomerName}}  </td>
                                        <td>{{emp.CustomerMsg}}</td>
                                        <td>{{emp.Phone}}</td>
                                        <td>{{emp.JobLocation}}</td>
                                        <td>{{emp.CreatedByName}}</td>
                                        <td>{{emp.WorkStartRsv| date:'dd-MMM-yyyy'}} {{emp.StartTimeRsv}}</td>
                                        <td>{{emp.WorkEnd| date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                                        <td>{{emp.IsReady}}</td>
                                        <td>{{emp.IsCompleted}}</td>
                                        <td>{{emp.IsPosted}}</td>
                                        <td>
                                            <a class="btn-cust" title="Timeslips" ui-sref="app.order.order.timeslip({id: emp.OrderID})">   <i class="fa fa-edit"></i> Timeslips</a>&nbsp;
                                            <a class="btn-cust" title="View Details of Order" ui-sref="app.order.order.detail({id: emp.OrderID})">   <i class="fa fa-search"></i> View</a>&nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="dt-toolbar-footer">
                                <div class="col-sm-6 col-xs-12 hidden-xs">
                                    <!--<div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing {{Start}} to {{End}} of {{totalOrders}} entries</div>-->
                                    <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing total {{totalOrders}} entries</div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="dataTables_paginate paging_full_numbers"
                                         id="DataTables_Table_1_paginate">
                                        <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="../../../partials/layout/pagination.html"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>



