<div class="row">
    <div class="col-lg-12">
        <h4>Site Information</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <section class="form-group">
            <label class="control-label">Site Name</label>
            <input type="text" class="form-control" name="sitename" data-ng-model="CustomerSite.SiteName" />
        </section>
    </div>
    <div class="col-lg-8">
        <section class="form-group">
            <label class="control-label">Site Description</label>
            <input type="tel" class="form-control" name="sitedescription" data-ng-model="CustomerSite.SiteDescription" />
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <h4>Contact Information</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Contact Name</label>
                    <input type="text" class="form-control" name="prcontactname" data-ng-model="CustomerSite.PrContactName" />
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Email</label>
                    <input type="tel" class="form-control" name="premail" data-ng-model="CustomerSite.PrEmail" />
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Home Number</label>
                    <input type="tel" class="form-control" name="prphone" data-ng-model="CustomerSite.PrPhone" maxlength="17" />
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Mobile Number</label>
                    <input type="tel" class="form-control" name="prmobile" data-ng-model="CustomerSite.PrMobile" maxlength="17" />
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Fax Number</label>
                    <input type="tel" class="form-control" name="prfax" data-ng-model="CustomerSite.PrFax" maxlength="17" />
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="form-group">
                    <label class="control-label">Address Line 1</label>
                    <input type="text" class="form-control" name="praddress1" data-ng-model="CustomerSite.PrAddress1" />
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="form-group">
                    <label class="control-label">Address Line 2</label>
                    <input type="text" class="form-control" name="praddress2" data-ng-model="CustomerSite.PrAddress2" />
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Country</label>
                    <select name="prcountry" class="form-control" ng-model="CustomerSite.PrCountryID" ng-options="country.CountryID as country.CountryName + ' (' + (country.CountryCode) + ')' for country in Countries" ng-change="getStatesByCountryIDForPrimary(CustomerSite.PrCountryID)">
                        <option value="">Choose</option>
                    </select>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">State, Region or Pro.</label>
                    <select name="prstate" class="form-control" ng-model="CustomerSite.PrStateID" ng-options="state.StateID as state.StateName + ' (' + (state.StateCode) + ')' for state in PrStates" ng-change="getCitiesByStateIDForPrimary(CustomerSite.PrStateID)">
                        <option value="">Choose</option>
                    </select>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">City, Town or Suberb</label>
                    <select name="prcity" class="form-control" ng-model="CustomerSite.PrCityID" ng-options="city.CityID as city.CityName for city in PrCities">
                        <option value="">Choose</option>
                    </select>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Postal code</label>
                    <input type="text" class="form-control" name="prpostalcode" data-ng-model="CustomerSite.PrPostalCode" ng-focus="getPrZipCode()" />
                </section>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="border-left:1px dashed #ddd;">
        <div class="row">
            <div class="col-lg-6">
                <h4>Invoice Information</h4>
            </div>
            <div class="col-lg-6">
                <div class="checkbox">
                    <label>
                        <input class="checkbox style-0" checked="checked" type="checkbox" ng-model="IsChecked" ng-change="sameAsPrimary(IsChecked)">
                        <span>Same as Contact Information</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Contact Name</label>
                    <input type="text" class="form-control" name="incontactname" data-ng-model="CustomerSite.InContactName" />
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Email</label>
                    <input type="tel" class="form-control" name="inemail" data-ng-model="CustomerSite.InEmail" />
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Phone Number</label>
                    <input type="tel" class="form-control" name="inphone" data-ng-model="CustomerSite.InPhone" maxlength="17" />
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Mobile Number</label>
                    <input type="tel" class="form-control" name="inmobile" data-ng-model="CustomerSite.InMobile" maxlength="17" />
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Fax Number</label>
                    <input type="tel" class="form-control" name="infax" data-ng-model="CustomerSite.InFax" maxlength="17" />
                </section>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="form-group">
                    <label class="control-label">Address Line 1</label>
                    <input type="text" class="form-control" name="inaddress1" data-ng-model="CustomerSite.InAddress1" />
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="form-group">
                    <label class="control-label">Address Line 2</label>
                    <input type="text" class="form-control" name="inaddress2" data-ng-model="CustomerSite.InAddress2" />
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Country</label>
                    <select name="incountry" class="form-control" ng-model="CustomerSite.InCountryID" ng-options="country.CountryID as country.CountryName + ' (' + (country.CountryCode) + ')' for country in Countries" ng-change="getStatesByCountryIDForInvoice (CustomerSite.InCountryID)" ng-focus="getAllCountries()">
                        <option value="">Choose</option>
                    </select>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">State, Region or Pro.</label>
                    <select name="instate" class="form-control" ng-model="CustomerSite.InStateID" ng-options="state.StateID as state.StateName + ' (' + (state.StateCode) + ')' for state in InStates" ng-change="getCitiesByStateIDForInvoice (CustomerSite.InStateID)">
                        <option value="">Choose</option>
                    </select>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">City, Town or Suberb</label>
                    <select name="incity" class="form-control" ng-model="CustomerSite.InCityID" ng-options="city.CityID as city.CityName for city in InCities">
                        <option value="">Choose</option>
                    </select>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="form-group">
                    <label class="control-label">Postal code</label>
                    <input type="text" class="form-control" name="inpostalcode" data-ng-model="CustomerSite.InPostalCode" ng-focus="getInZipCode()" />
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="checkbox">
                    <label>
                        <input class="checkbox style-0" checked="checked" type="checkbox" data-ng-model="CustomerSite.InvoiceViaMail">
                        <span>Invoice via Mail</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkbox">
                    <label>
                        <input class="checkbox style-0" checked="checked" type="checkbox" data-ng-model="CustomerSite.InvoiceViaFax">
                        <span>Invoice via Fax</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkbox">
                    <label>
                        <input class="checkbox style-0" checked="checked" type="checkbox" data-ng-model="CustomerSite.InvoiceViaEmail">
                        <span>Invoice via E-Mail</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="checkbox">
                    <label>
                        <input class="checkbox style-0" checked="checked" type="checkbox" data-ng-model="CustomerSite.InvoiceAutomatically">
                        <span>Automatically Email Invoice Daily</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="checkbox">
                    <label>
                        <input class="checkbox style-0" checked="checked" type="checkbox" data-ng-model="CustomerSite.InvoiceCombine">
                        <span>Combine Timeslips for Daily Invoice</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>