<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="GoogleClientID" value="348091137014-b4v21mr685fljc36q79eq0ddj8o06pr6.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="K7WAManHwnJuIKqCkwqXa6Gh" />
    <add key="FacebookAppId" value="1717482821796572" />
    <add key="FacebookAppSecret" value="73d3e4a4ad736393f1255a99960f19f5" />
    <add key="FacebookAppToken" value="1717482821796572|m7X_VsQc-NdOn3MIkCb3jb8V8_g" />
    <add key="TwitterConsumerKey" value="xxxxx" />
    <add key="TwitterConsumerSecret" value="xxxxx" />

    <add key="PayrollDomain" value="http://localhost:61072" />
    <add key="RestDomain" value="http://localhost:51128" />

    <add key="SmtpHostName" value="mail.itweb.ca" />
    <add key="Email" value="support@itweb.ca" />
    <add key="Password" value="Itwebsupport1!" />
    <add key="SenderName" value="Payroll Admin &lt;support@itweb.ca&gt; " />
    <add key="Port" value="25" />
    <add key="EnableSSL" value="false" />
    <add key="ReportServerUrl" value="http://sql5030.smarterasp.net/reportserver/" />
    <add key="ReportPath" value="/mcupryk-001/RSVP/{0}" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
  </system.web>

  <connectionStrings>
    <clear />
    <!--Please Do Not Remove or Alter any ConString. You can add more by commenting current active ConString.-->
    <!--<add name="PayrollAppDbContext" connectionString="data source=NULLPLEX6-PC;initial catalog=nullplex_payroll;user id=sa;password=123456;asynchronous processing=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="PayrollAppDbContext" connectionString="data source=MSI\MATT_DB;initial catalog=rsvp411;user id=sa;password=l@ndc@r;asynchronous processing=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="PayrollAppDbContext" connectionString="Data Source=94.23.61.175\MSSQLSERVER2012;Initial Catalog=nullplex_payroll;User ID=payroll;Password=Hack1234;App=EntityFramework;" providerName="System.Data.SqlClient" />-->
    <!--<add name="PayrollAppDbContext" connectionString="Data Source=94.23.61.175\MSSQLSERVER2012;Initial Catalog=mathieu_payroll1;User ID=payrolluser1;Password=Hack1234;App=EntityFramework;" providerName="System.Data.SqlClient" />-->
    <!--<add name="PayrollAppDbContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\nullplex_payroll.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="PayrollAppDbContext" connectionString="Data Source=sql5026.smarterasp.net;Initial Catalog=DB_A1803F_rsvp;User ID=DB_A1803F_rsvp_admin;Password=!Matt12345;App=EntityFramework;" providerName="System.Data.SqlClient" />
    <add name="ReportsDb" connectionString="Data Source=SQL5031.SmarterASP.NET;Initial Catalog=DB_A1803F_mayur;User Id=DB_A1803F_mayur_admin;Password=!Matt12345;" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
</configuration>