<!-- MAIN CONTENT -->
<div id="content" ng-controller="DashboardCtrl">

    <div class="row">
        <big-breadcrumbs items="['Dashboard', 'My Dashboard']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="partials/layout/sub-header.tpl.html"></div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

        <!-- row -->

        <div class="row">
            <article class="col-lg-12">

                <h2>Welcome to Aactive Personnel Services Ltd. </h2>
                Daily Orders <span class="txt-color-greenDark"><i class="fa fa-lg fa-fw fa-shopping-cart"></i>&nbsp;2447</span> <p />
                Daily Timeslips <span class="txt-color-redLight"><i class="fa fa-lg fa-fw fa-cube"></i>&nbsp;2447</span><p />
                Total Users<span class="txt-color-orange"><i class="fa fa-lg fa-fw fa-user"></i>&nbsp;2447</span> <p />
                Total Employees<span class="txt-color-darken"><i class="fa fa-lg fa-fw fa-group"></i>&nbsp;2447</span> <p />
                Total Customers<span class="txt-color-purple"><i class="fa fa-lg fa-fw fa-briefcase"></i>&nbsp;2447</span> <p />
                Total Customer Sites<span class="txt-color-blue"><i class="fa fa-lg fa-fw fa-briefcase"></i>&nbsp;2447</span> <p />
            </article>
        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
